/* ========== 페이지 기본 설정 ========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
F7F9FF

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6;
    color: #232323;
}