/* 개별 컴포넌트 및 페이지 스타일 선언 */

/* ========== 헤더 ========== */
.header {
  background-color: var(--color-primary-200);
  color: var(--color-black);
  padding: .625rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  top: 0;
}

.header-content {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  padding: 20px 30px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header-content h1 {
  text-align : center;
}

.header-content p {
  text-align: right;
}

.header-icon {
  font-size: 2rem;
}

/* 헤더 반응형 레이아웃 */
@media (max-width: 480px) {
  .header-icon {
    display: none;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .header-content h1 {
    text-align: left;
    font-size: 1.25rem;
  }

  .header-content p {
    text-align: right;
    font-size: .625rem;
  }
}


/* ========== 검색 필터 영역 ========== */
.search-filter-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}

.filter-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 1.25rem
}

.filter-row {
  display: flex;
  gap: .625rem;
}

.filter-row-single {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-row-single label {
  /* TODO: 라벨의 너비를 고정하여 모든 라벨이 동일한 위치에서 끝나도록 조정 */
  width: 70px;
  flex-shrink: 0;
}

.filter-row-triple,
.filter-row-double {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter-row-double {
  grid-template-columns: repeat(2, 1fr);
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
}

.filter-item label {
  width: 70px;
  flex-shrink: 0;
}

/* 입력 / 선택 필드 스타일 */
input[type="text"],
select {
  padding: 0.625rem;
  border: 1px solid #afafaf;
  border-radius: var(--border-radius-medium);
  width: 100%;
}

/* 버튼 영역 스타일링 */
.filter-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .625rem;
  margin-top: 1.25rem;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-primary-400);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-primary-500);
  transition: background-color 0.3s ease;
}
/* 검색 필터 세션 반응형 레이아웃 */
@media (max-width: 480px){
  .search-filter-section h2 {
    font-size: 1.25rem;
  }
  label {
    font-size: .875rem;
  }
  .filter-row-triple,
  .filter-row-double,
  .filter-actions {
    grid-template-columns: 1fr;
  }

  input[type="text"],
  select {
    font-size: .875rem;
  }

  .btn {
    font-size: .9375rem;
  }
}

/* ========== 파트원 목록 섹션 ========== */
.member-list-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.list-select {
  display: flex;
  gap: var(--spacing-medium);
}

/* 테이블 스타일 */
.member-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.member-table th,
.member-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.member-table thead tr {
  background-color: var(--color-primary-200);
}

.member-table tbody td a {
    color: var(--color-primary-500); 
    text-decoration: none;
}

/* 파트원 목록 세션 반응형 레이아웃 */
@media (max-width: 768px) {
  .member-list-section {
    padding: 30px var(--spacing-small);
  }

  .table-wrapper {
    overflow-x: auto;
    width: 100%;
  }

  .member-table {
    min-width: 700px;
  }

  .member-table th, 
  .member-table td {
    font-size: 0.875rem; 
    padding: 8px 5px; 
  }

  .member-list-section h2 {
    font-size: 1.25rem;
  }

  .member-list-section .btn {
    font-size: 0.875rem;
    padding: 6px 12px;
  }
}

/* ========== 모달 ========== */
#add-member-modal {
    border: none;
    background-color: transparent; 
    padding: 0; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    width: 90%;
    max-width: 600px;
}

#add-member-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
}

/* ========== 모달 내용 컨테이너 ========== */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.modal-header h3 {
  font-size: var(--font-size-h3);
}

.modal-content {
  background-color: var(--color-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
  width: 90%;
  max-width: 600px;
  gap: 1.25rem;
}

#add-member-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-large);
}