/* 개별 컴포넌트 및 페이지 스타일 선언 */

/* ========== 헤더 ========== */
.header {
  background-color: var(--color-primary-200);
  color: var(--color-black);
  padding: .625rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  top: 0;
}

.header-content {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  padding: 20px 30px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header-content h1 {
  text-align : center;
}

.header-content p {
  text-align: right;
}

.header-icon {
  font-size: 2rem;
}

/* ========== 검색 필터 영역 ========== */
.search-filter-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}

.filter-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 1.25rem
}

.filter-row {
  display: flex;
  gap: .625rem;
}

.filter-row-single {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-row-single label {
  /* TODO: 라벨의 너비를 고정하여 모든 라벨이 동일한 위치에서 끝나도록 조정 */
  width: 70px;
  flex-shrink: 0;
}

.filter-row-triple,
.filter-row-double {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter-row-double {
  grid-template-columns: repeat(2, 1fr);
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
}

.filter-item label {
  width: 70px;
  flex-shrink: 0;
}

/* 입력 / 선택 필드 스타일 */
input[type="text"],
select {
  padding: 0.625rem;
  border: 1px solid #afafaf;
  border-radius: var(--border-radius-medium);
  width: 100%;
}

/* 버튼 영역 스타일링 */
.filter-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .625rem;
  margin-top: 1.25rem;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-primary-400);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-primary-500);
  transition: background-color 0.3s ease;
}

/* ========== 파트원 목록 섹션 ========== */
.member-list-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.list-select {
  display: flex;
  gap: var(--spacing-medium);
}

/* 테이블 스타일 */
.member-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.member-table th,
.member-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.member-table thead tr {
  background-color: var(--color-primary-200);
}

.member-table tbody td a {
    color: var(--color-primary-500); 
    text-decoration: none;
}