/* ========== 헤더 ========== */
.header {
  background-color: var(--color-primary-200);
  color: var(--color-black);
  padding: .625rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  top: 0;
}

.header-content {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  padding: 20px 30px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header-content h1 {
  text-align : center;
}

.header-content p {
  text-align: right;
}

.header-icon {
  font-size: 2rem;
}

/* 헤더 반응형 레이아웃 */
@media (max-width: 480px) {
  .header-icon {
    display: none;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .header-content h1 {
    text-align: left;
    font-size: 1.25rem;
  }

  .header-content p {
    text-align: right;
    font-size: .625rem;
  }
}